openapi: 3.1.0
info:
  title: Census API
  version: v1.0.0
  description: >
    API for managing Census resources. The Census schema conforms to
    JSON Schema Draft 2020-12 and includes members.

servers:
  - url: https://api.capbluecross.com

paths:
  /censuses:
    get:
      summary: List censuses
      responses:
        "200":
          description: List of censuses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Census"
    post:
      summary: Create a new census
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/census"
      responses:
        "201":
          description: Census created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/census"

  /censuses/{id}:
    get:
      summary: Get a census by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Census found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/census"
        "404":
          description: Census not found
    put:
      summary: Update a census
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/census"
      responses:
        "200":
          description: Census updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/census"
        "404":
          description: Census not found
    delete:
      summary: Delete a census
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Census deleted
        "404":
          description: Census not found

components:
  schemas:
    census:
      $ref: "https://capbluecross.com/json/census/v1.0.0/census.schema.json"
